<!DOCTYPE html>
<html>

<head>
<link rel='shortcut icon' type='image/x-icon' href="favicon.ico" />
<title>Kenbot - {%block title %}{%endblock%}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>

<div id="header">
<a href="/" style="text-decoration:none;"><h1>K E N B O T </h1></a>
</div>

 <br>
 
 <div id="content">
 <div id="fader">
 <h2><strong>{%block heading%}{%endblock%}</strong></h2>
{%block content%}{%endblock%}
 </div>
 </div>
 
 
<div class="corner">
<div class="bg"></div>


</body>

<script>
$(document).ready(function(){
	$("#fader").fadeIn("slow");
	$("#toggle").click(function(){
    		$("hidden").toggle();
    	});
});
</script>

</html>