<!DOCTYPE html>

<script type="text/javascript" src="jquery-1.4.1.min.js"></script>

<script type="text/javascript" src="jquery-2.1.4.min.js">
$(document).ready(function() {
      $('#page-wrap').delay(500).fadeIn(3000);

      $('.menu-item').click(function(event) {
          event.preventDefault();
          var newLocation = this.href;
          $('#page-wrap').fadeOut(1000, function () {
              window.location = newLocation;
          });
      });
});
</script>

<html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Person Guesser</title>

<h1>Person Guesser</h1>

<p><strong>Who are you thinking of?</strong></p>


<h2>Question 1</h2>
 <p><strong>Is the person a female?</strong>
 <br>
 <button type="button">Yes</button>	 <button type="button">No</button>
 </p>

</html>