{%extends "layout.html"%}

{%block title%}How To Play{%endblock%}

{%block heading%}H O W &nbsp; T O &nbsp; P L A Y{%endblock%}

{%block content%}
<p>Think of a person. Well, almost any person. When you're ready, click <strong>Begin Game</strong> to begin. 
<br><br>To see who Kenbot knows, click <strong>Who Does Kenbot Know?</strong>
</p>
<br>
<form action="/question1"><input class="button1" type="submit" value="Begin Game"></form> &nbsp; <button id="toggle">Who Does Kenbot Know?</button>
<br><br><br>
<hidden><strong>Kenbot doesn't know all 7 billion (and counting) people on the planet (we're not the NSA). But here's a list of the people who volunteered their information to become Kenbot's friend:</strong>
<br><br>
Alicia, Anish, Anthony, Austin, Casey, Chris, Christian, Christine A., Christine D.
<br>
Darin, Dylan, Edith, Harley, Jahaziel, Jason, Jasper, Jeremy, Joel, Josh, Julia, Justin
<br>
Ken, Kim, Lauren, Maxwell, Megan, Monica, Mustafa, Neil, Niral
<br>
Philip, Samantha, Sandra, Shruti, Susmitha, Sylvia, Taylor, Yvonne, Zoe
<br><br>
<strong>If you would like to be added to Kenbot's database sometime in the future, please fill out <a href="http://goo.gl/forms/dUUoKk5prV" style="text-decoration:none;" target="_blank">this form.</a></strong>
</hidden>

{%endblock%}